<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <body>
        <main class=container>
            <div class="card">
                <div class="card-header bg-success text-center font-weight-bold">YOUR ORDERS PURCHASED</div>
                <table class="table table-striped">
                    <thead class="text-info">
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Order No.</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Shipping Address</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="order, state: ${orders}">
                        <td class="text-danger font-weight-bold">[[${state.index +1}]]</td>
                        <td>[[${order.id}]]</td>
                        <td>[[${order.createDate}]]</td>
                        <td>[[${order.address}]]</td>
                        <td>
                            <a th:href="@{|/order/detail/${order.id}|}" class="btn btn-success">
                                <i class="fas fa-search"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                  </table>
            </div>
        </main>
    </body>
</html>